:root {
  --primaryFont: "Raleway", sans-serif;
  --primaryColour: #f7e8f6;
}
body {
  font-family: var(--primaryFont);
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 60px;
  font-weight: bold;
}
p {
  font-size: 16px;
}

.hero {
  background: var(--primaryColour);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
}
.btn-light {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--primaryColour);
}
.example-image {
  width: 400px;
  border-radius: 4px;
}
.project-description {
  text-align: center;
  padding: 30px;
}
.content-container {
  padding: 30px 20px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 50px;
  padding: 0;
}
.content-container h2 {
  font-size: 18px;
  line-height: 30px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}
.content h2 {
  font-size: 18px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  text-align: center;
  font-weight: bold;
}
.content p {
  font-size: 14px;
  text-align: center;
}
.me {
  max-width: 350px;
  border-radius: 10px;
}
.social-links {
  font-size: 40px;
  text-align: center;
}
.image {
  border-radius: 10px;
}

footer i:hover {
  color: purple;
}

footer .social-links a {
  margin: 0 10px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0px;
  margin: 0px;
}
nav li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  line-height: 20px;
  margin-left: 30px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
}
nav a:hover {
  color: purple;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
@media (max-width: 777px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 10px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  i {
    font-size: 35px;
  }
}
