:root {
  --primaryFont: "Raleway", sans-serif;
  --primaryColour: #f7e8f6;
}
body {
  font-family: var(--primaryFont);
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 60px;
  font-weight: bold;
}
p {
  font-size: 16px;
}

.hero {
  background: var(--primaryColour);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
}
.btn-light {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--primaryColour);
}
.example-image {
  width: 400px;
  border-radius: 4px;
}
.project-description {
  text-align: center;
  padding: 30px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 0;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 10px;
  }
}
